# Koneksi MongoDB lokal (MongoDB Community Server)
MONGODB_URI=mongodb://localhost:27017/lms_sekolah

# Secret untuk NextAuth - ganti dengan string acak (bisa generate: openssl rand -base64 32)
NEXTAUTH_SECRET=ganti-dengan-string-rahasia-acak
NEXTAUTH_URL=http://localhost:3000
